@import '../table/table.component.scss';

.table-loader {
  background: rgba(0, 0, 0, 0.125);
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
