<section class="mat-typography">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div mat-dialog-content>
    <p>{{ data.text }}</p>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <button
      *ngFor="let button of buttons"
      [mat-dialog-close]="button.result"
      mat-button [color]="button.color"
    >
     {{ button.label }}
    </button>
    <button
      *ngIf="showClose"
      [mat-dialog-close]="undefined"
      mat-button
    >
      Close
    </button>
  </div>
</section>
