<form
  *ngIf="initialized"
  [formGroup]="form" 
  class="keps-form mat-typography"
>
  <ng-container *ngFor="let fieldName of schemaFields">
    <ng-container *ngIf="schema[fieldName]; let field">
      <mat-form-field
        floatLabel="always"
        [appearance]="appearance"
        [color]="color"
        [class.hide-underline]="isNotUnderlined(fieldName)"
      >
        <mat-label>
          {{ field.label || fieldName | splitCamel | titlecase }}
        </mat-label>
  
        <!-- Type: String -->
        <!-- reference is not provided, use input-->
        <input
          *ngIf="isType(fieldName, 'string') && !hasReference(fieldName)"
          [formControl]="form.get(fieldName)"
          [required]="!field.optional"
          type="text"
          [placeholder]="placeholders[fieldName]"
          matInput
        >
        <!-- Type: String -->
        <!-- If reference is provided, use select -->
        <mat-select 
          *ngIf="isType(fieldName, 'string') && hasReference(fieldName)" 
          [formControl]="form.get(fieldName)"
          [required]="!field.optional" >
          <mat-option *ngIf="field.optional">None</mat-option>
          <mat-option *ngFor="let option of refObjs[fieldName]" [value]="option">{{option}}</mat-option>
        </mat-select>
  
        <!-- Type: Number -->
        <input
          *ngIf="isType(fieldName, 'number')"
          [formControl]="form.get(fieldName)"
          [required]="!field.optional"
          type="number"
          [placeholder]="placeholders[fieldName]"
          [min]="field.min"
          [max]="field.max"
          [step]="field.step"
          matInput
        >

        <!-- Type: Email -->
        <input
          *ngIf="isType(fieldName, 'email')"
          [formControl]="form.get(fieldName)"
          [required]="!field.optional"
          type="email"
          [placeholder]="placeholders[fieldName]"
          matInput
        >

        <!-- Type: Boolean -->
        <keps-field-boolean
          *ngIf="isType(fieldName, 'boolean')"
          [form]="form.get(fieldName)"
          [required]="!field.optional"
        >
        </keps-field-boolean>

        <!-- Type: Enum & Multi -->
        <mat-select
          *ngIf="isType(fieldName, 'enum') || isType(fieldName, 'multi')"
          [formControl]="form.get(fieldName)"
          [required]="!field.optional"
          [multiple]="isType(fieldName, 'multi')"
          [placeholder]="placeholders[fieldName]"
        >
          <mat-option
            *ngFor="let option of field.options"
            [value]="option"
          >
            {{ field.labels && field.labels[option] ? field.labels[option] : option }}
          </mat-option>
        </mat-select>

        <!-- Type: Address -->
        <keps-field-address
          *ngIf="isType(fieldName, 'address')"
          [form]="form.get(fieldName)"
          [required]="!field.optional"
          [appearance]="appearance"
          [color]="color"
        >
        </keps-field-address>

        <!-- Type: Array -->
        <keps-field-array
          *ngIf="isType(fieldName, 'array')"
          [form]="form.get(fieldName)"
          [subSchema]="field.subSchema"
          [refObjs]="refObjs[field]"
          [required]="!field.optional"
          [appearance]="appearance"
          [color]="color"
        >
        </keps-field-array>

        <!-- Type: Reference -->
        <mat-select
          *ngIf="isType(fieldName, 'reference')"
          [formControl]="form.get(fieldName)"
          [required]="!field.optional"
          [placeholder]="placeholders[fieldName]"
        >
          <mat-option
            *ngFor="let option of refObjs[fieldName]"
            [value]="option._id"
          >
            {{ option | eval:getReferenceDisplay(fieldName) }}
          </mat-option>
        </mat-select>

        <!-- Type: Datetime -->
        <keps-field-datetime
          *ngIf="isType(fieldName, 'datetime')"
          [form]="form.get(fieldName)"
          [required]="!field.optional"
        >
        </keps-field-datetime>

        <!-- Hints -->
        <mat-hint *ngIf="hints">{{hints[fieldName]}}</mat-hint>

      </mat-form-field>
    </ng-container>
  </ng-container>
</form>
