<ng-container *ngIf="initialized">
  <mat-form-field
    [appearance]="appearance"
    [color]="color"
    floatLabel="always"
    class="field-address"
  >
    <mat-label>
      Address 1
    </mat-label>
    <input
      [formControl]="form.get('address1')"
      [required]="required"
      type="text"
      matInput
    >
  </mat-form-field>
  <mat-form-field
    [appearance]="appearance"
    [color]="color"
    floatLabel="always"
    class="field-address"
  >
    <mat-label>
      Address 2
    </mat-label>
    <input
      [formControl]="form.get('address2')"
      type="text"
      matInput
    >
  </mat-form-field>
  <mat-form-field
    [appearance]="appearance"
    [color]="color"
    floatLabel="always"
    class="field-address"
  >
    <mat-label>
      City
    </mat-label>
    <input
      [formControl]="form.get('city')"
      [required]="required"
      type="text"
      matInput
    >
  </mat-form-field>
  <mat-form-field
    [appearance]="appearance"
    [color]="color"
    floatLabel="always"
    class="field-address"
  >
    <mat-label>
      State
    </mat-label>
    <input
      [formControl]="form.get('region')"
      [required]="required"
      type="text"
      matInput
    >
  </mat-form-field>
  <mat-form-field
    [appearance]="appearance"
    [color]="color"
    floatLabel="always"
    class="field-address"
  >
    <mat-label>
      Zipcode
    </mat-label>
    <input
      [formControl]="form.get('postal')"
      [required]="required"
      type="text"
      matInput
    >
  </mat-form-field>
  <mat-form-field
    [appearance]="appearance"
    [color]="color"
    floatLabel="always"
    class="field-address"
  >
    <mat-label>
      Country
    </mat-label>
    <input
      [formControl]="form.get('country')"
      [required]="required"
      type="text"
      matInput
    >
  </mat-form-field>
</ng-container>
