:host {
  display: block;
  position: relative;
}

.keps-table {
  width: 100%;
}

.keps-table, .keps-paginator, .empty-table {
  background: transparent !important;
}

.keps-table-cell {
  white-space: pre-line;

  * {
    display: block;
    margin: 16px 0;
  }
}

.empty-table {
  border-radius: 0px;
  text-align: center;
  box-shadow: none !important;
}

.hide-paginator {
  display: none !important;
}

.keps-table-search {
  width: 95%;
  margin: 0 2.5%;
}

.clickable-row:hover {
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
