<!-- Table's Search Box -->
<mat-form-field
  *ngIf="showSearch"
  floatLabel="never"
  class="keps-table-search"
>
  <input
    matInput
    (keyup)="applySearch($event.target.value)"
    placeholder="Search"
  >
</mat-form-field>

<!-- Table -->
<table
  mat-table [dataSource]="dataSource"
  matSort [matSortDisabled]="!showSort" [matSortActive]="activeSort" matSortDirection="asc"
  class="keps-table"
>
  <!-- Table Columns from Schema -->
  <ng-container
    *ngFor="let fieldName of schema | keys"
    [matColumnDef]="fieldName"
  >
    <ng-container *ngIf="schema[fieldName]; let field">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'keps-table-col-' + fieldName" >
        {{ (field.label ? field.label : '') }}{{ (field.label ?  '' : fieldName) | splitCamel | titlecase }}
      </th>
      <td 
        mat-cell *matCellDef="let element" 
        class="keps-table-cell"
        [ngClass]="'keps-table-col-' + fieldName"
      >
        <ng-container *ngIf="element[fieldName]; let fieldData">
          <span *ngIf="isType(fieldName, 'reference')">
            {{ fieldData | eval:getReferenceDisplay(fieldName) }}
          </span>
          <span *ngIf="isType(fieldName, 'address')">
            {{ fieldData | address:4 }}
          </span>
          <span *ngIf="isType(fieldName, 'datetime')">
            {{ fieldData | moment:field.format }}
          </span>
          <span *ngIf="isType(fieldName, 'array-reference')">
            {{ fieldData | arrayDisplay:', ':getReferenceDisplayArray(fieldName) }}
          </span>
          <span *ngIf="isType(fieldName, 'array-string')">
            {{ fieldData | arrayDisplay:', ' }}
          </span>
          <span *ngIf="isType(fieldName, 'number')">
            {{ fieldData | numberFormat:field.format }}
          </span>
          <span *ngIf="isType(fieldName, 'enum')">
            {{ field.labels && field.labels[fieldData] ? field.labels[fieldData] : fieldData }}
          </span>
          <span *ngIf="isType(fieldName, 'table-normal')">
            {{ fieldData }}
          </span>
        </ng-container>
      </td>
    </ng-container>
  </ng-container>

  <!-- Table Columns from Custom Columns -->
  <ng-container
    *ngFor="let colName of customCols | keys"
    [matColumnDef]="colName"
  >
    <ng-container *ngIf="customCols[colName].data; let colData">
      <th
        mat-header-cell *matHeaderCellDef
        [width]="colData.width"
        [align]="colData.align"
        mat-sort-header [disabled]="!colData.sortable" [start]="colData.sortStart"
      >
        {{ (colData.label || colName) | splitCamel | titlecase }}
      </th>

      <td
        mat-cell *matCellDef="let element; let i = index;"
        [align]="colData.align"
        class="keps-table-column"
      >
        <ng-container
          *ngTemplateOutlet="customCols[colName].template; context: { $implicit: element, index: i, element: element }"
        >
        </ng-container>
      </td>
    </ng-container>
  </ng-container>

  <!-- Rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr
    mat-row *matRowDef="let row; columns: displayedColumns;"
    (click)="rowClick.emit(row)"
    [class.clickable-row]="rowClick.observers.length > 0"
  >
  </tr>
</table>

<!-- Empty Table Row -->
<mat-card *ngIf="data.length === 0 || dataSource.filteredData.length === 0" class="empty-table">
  No Data.
</mat-card>

<!-- Paginator -->
<mat-paginator
  [class.hide-paginator]="!showPaginator"
  [pageSizeOptions]="[10, 25, 50, 100]"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
  showFirstLastButtons
  class="keps-paginator"
>
</mat-paginator>
