<div class="field-datetime">
  <input
    matInput
    [matDatepicker]="dp"
    [formControl]="dateForm"
    (dateInput)="onDateChange($event)"
    placeholder="Choose a date"
  >
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp [startAt]="startDate"></mat-datepicker>
</div>  
