<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let c of counterArr$ | async; let i = index" class="field-array-container" cdkDrag>
    <button cdkDragHandle mat-icon-button color="accent" class="field-array-reorder">
      <mat-icon>reorder</mat-icon>
    </button>
    <mat-form-field
      [appearance]="appearance"
      [color]="color"
      floatLabel="always"
      class="field-array"
    >
      <!-- Type: String -->
      <input
        *ngIf="subSchema === 'string'"
        [formControl]="form.at(i)"
        [required]="required"
        type="text"
        matInput
      >
      <!-- Type: number -->
      <input
        *ngIf="subSchema === 'number'"
        [formControl]="form.at(i)"
        [required]="required"
        type="number"
        matInput
      >
      <!-- Type: Reference -->
      <mat-select
        *ngIf="subSchema[0] === ':'"
        [formControl]="form.at(i)"
        [required]="required"
      >
        <mat-option
          *ngFor="let option of refObjs"
          [value]="option._id"
        >
          {{ option | eval:getReferenceDisplay() }}
        </mat-option>
      </mat-select>

      <!-- TODO: If subschema is another schema object, we should make something here. -->
    </mat-form-field>
    <button (click)="remove(i)" mat-icon-button color="warn" class="field-array-delete">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<button (click)="add()" mat-icon-button color="accent">
  <mat-icon>add</mat-icon>
</button>
  