.field-array-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.field-array-reorder {
  max-width: 30px;
}

.field-array-delete {
  max-width: 20px;
}

.field-array-container::ng-deep mat-form-field {
  flex: 1 1 auto;
  margin-top: 5px;
}

.field-array::ng-deep .mat-form-field-underline {
  display: block !important;
}

.field-array::ng-deep .mat-form-field-flex {
  padding-top: 0 !important;
}

.field-array::ng-deep .mat-form-field-infix {
  border-top: 0 !important;
  width: 100%;
}
